:root{
    --espacio-borde: border: 1px solid rgb(12, 12, 12);

}
body{
    background-color: rgb(166, 177, 177);
}
.html{
    font-size:20px ;

}

.header{
    display: flex;
    border: 1px solid rgb(19, 19, 18);
    height: 10vh;
    justify-content: space-between
}

.main{
    border: var(--espacio-borde);
    height: 400vh;
}

.footer{
    border: var(--espacio-borde);
    height: 10vh;
}

.border{
    border: 1px solid rgb(2, 160, 233);
}

.background{
    background-color: rgb(221, 159, 159);
}
.menuprincipal{
    width: 40vw;
}
.menu1{
    display: flex;
    justify-content: space-around;
}
.item{
    list-style: none;

    
}
.form{
    width: 40vw; /* ancho del formulario */
    margin:auto;
    border: 1px solid green;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.flex{
    display: flex;
    flex-direction: column;
    
}
.imagen{
    width: 50%;
    margin:auto;
    border:1px solid red;

}
.titulo{
    max-width: 100%;
    min-width: 20%;
}
.borderestilos{
    border: 1px olid greenyellow;
    border-top: 2px solid red;  
    border-bottom: 5px dotted pink;
    border-left: dashed blue; 
}
.borderestilo{
    border-radius: 50px;
    border: 1px olid greenyellow;

}
.shadow{
    border: 4px olid greenyellow;
    box-shadow: 5px 5px 40px 20px black;
    

}
.shadow{
    text-shadow:  3px 3px 0px rgb(216, 27, 59),
    5px 0px rgb(90, 196, 116),
    7px 0px rgb(35, 21, 221);
}
.fondo{
    background-image: url(Img/flores.jpg);
    background-size: cover;
    background-attachment: fixed; /*para poner un fondo fijo sin movimieno */

}
.medidas{
    color:blueviolet;
    width: 60%;
    margin: auto;
    border: 2px solid red;
    font-size: 1rem;


}
 a:hover{
    font-size: 20px;
    color: black;
    background-color: aquamarine;
 }


